* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

a {
  color: white;
}

body {
  font-family:
    Poppins,
    Playfair Display;
  background-color: #1a1a1d;
  color: white;
  padding: 100px;
}

/* Header */
#header.flex-container {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
}

/* Index */
#main-content .flex-container {
  display: flex;
}

.first {
  font-size: 2rem;
}

/* Index/Image */

#image-container {
  margin-top: 100px;
}

#image-container img {
  z-index: -1;
  position: absolute;
  width: 70%;
  right: 100px;
  opacity: 0.6;
  overflow: hidden;
  max-height: 100vh;
  max-width: 900px;
}

/* CV */

#main-content p {
  margin-bottom: 20px;
}

.CV_title {
  font-size: xx-large;
}

/* Showcase */

#showcase-title {
  font-size: 2rem;
}

.showcase-flex {
  display: flex;
  flex-wrap: nowrap;
  gap: 25px;
}

.showcase-flex > div {
  flex: 1;
}

.showcase-flex img {
  width: 100%;
  aspect-ratio: 16 / 10;
}

/* About Page */

#about_flex {
  display: flex;
  gap: 25px;
  max-width: 100vw;
  overflow: hidden;
}

.about_content {
  flex: 1;
}

.about-title {
  font-size: 2rem;
}

.about_content,
p {
  margin-bottom: 20px;
}

.about_image {
  flex: 2;
  max-width: 400px;
}

.about_image img {
  width: 100%;
  object-fit: cover;
  height: auto;
}

/* Contact */

#contact_flex {
  display: flex;
}

.contact_content {
  flex: 1;
}

.contact_photo {
  flex: 2;

  max-width: 400px;
}

/* Media Query */

@media (max-width: 480px) {
  #header.flex-container {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 10pt;
    margin-bottom: 50px;
  }

  #main-content {
    text-align: center;
  }

  .first {
    font-size: large;
  }

  .second {
    font-size: small;
    margin-top: 25px;
  }

  #image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  #image-container img {
    position: static; /* remove absolute positioning */
    width: 100%; /* adjust width for mobile */
    height: auto;
  }

  /* CV */

  .CV_title {
    font-size: large;
    padding-bottom: 25px;
  }

  .education.work,
  h2 {
    padding-bottom: 25px;
  }

  .education.work,
  p {
    font-size: small;
  }

  /* Showcase */

  #showcase-title {
    text-align: center;
    font-size: large;
    padding-bottom: 25px;
  }

  /* This is the Showcase specific styling */

  .showcase-flex {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }

  .showcase-flex,
  h2 {
    font-size: larger;
    text-align: center;
  }

  .showcase-flex img {
    padding-top: 15px;
  }

  /* This is the About specific styling */

  #about_flex {
    flex-direction: column;
  }

  .about_content {
    order: 1;
  }

  .about-title {
    text-align: center;
    font-size: large;
    padding-bottom: 25px;
  }

  .about_content > .second {
    text-align: center;
  }

  .about_image {
    margin: -25px;
  }
  /* This is the Contact specific styling */

  #contact_flex {
    flex-direction: column;
  }

  .contact_content {
    order: 1;
  }

  .contact_content {
    text-align: center;
  }

  .contact_photo {
    margin-top: 25px;
  }

  h1 {
    text-align: center;
  }
}
